.container-fluid{
  padding-top: 10px;
  background-image: linear-gradient(gainsboro, white);
}

Form{
  border-radius: 5px;
  padding: 2% 5%;
  margin: 15px 4% 0 4%;
  background-color: white;
  font-size: 14px;
}

.container-fluid h4{
  text-align: center;
  color: darkslategray;
}

input[type="text"], input[type="date"], input[type="number"]{
  border: 1px solid white;
  border-bottom: 1px solid gainsboro;
  width: 80%;
  color: darkslategray;
  font-size: 12px;
}

select{
  width: 80%;
  height: 27px;
  border: 1px solid white;
  border-bottom: 1px solid gainsboro;
  color: darkslategray;
  font-size: 12px;
}

.col-sm-3{
  margin-top: 10px;
}

#bttn{
  background-image: linear-gradient(#4b9aa7, #3c7d83);
  color: white;
  padding: 3px 40px;
  float: right;
  margin-top: 10px;
}

#bttn:hover{
    background-image: linear-gradient(#3c7d83, #4b9aa7);
    border: 1px solid #4b9aa7;
}

.container-fluid .scrollable{
  margin-top: 20px;
  overflow-y: scroll;
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: lightblue;
}

::placeholder{
  font-size: 12px;
}
