#DC{
  text-align: center;
  padding-top: 20px;
  background-image: linear-gradient(gainsboro, white);
}

#DC h2{
  color: darkslategray;
  margin-bottom: 20px;
}

#DC Form{
  clear: both;
  background-color: white;
  border-radius: 5px;
  padding: 45px 5%;
  margin: 15px 5% 0 5%;
  text-align: left;
}

#DCButton{
  background-image: linear-gradient(#4b9aa7, #3c7d83);
  color: white;
  padding: 5px 50px;
  margin-left: 25%;
}

#DCButton:hover{
    background-image: linear-gradient(#3c7d83, #4b9aa7);
    border: 1px solid #4b9aa7;
}

#DC .scrollable{
  margin-top: 40px;
  height: 270px;
  overflow-y: scroll;
  text-align: center;
}

#DC #dropdown{
  margin-bottom: 5px;
}

#DC #textfield{
  border: 1px solid gainsboro;
  width: 150px;
  height: 35px;
  border-radius: 5px;
}

#supplierdropdown-basic{
  background-color: white;
  color: darkslategray;
  width: 150px;
  height: 35px;
  border-color: gainsboro;
}

#DC #formLabel{
  padding-top: 5px;
}
