.container-fluid{
  text-align: center;
  padding-top: 10px;
  background-image: linear-gradient(gainsboro, white);
}

.container-fluid h1{
  color: darkslategray;
}

.container-fluid #selectSupplier{
  width: 30%;
  float: left;
}

.container-fluid Form{
  border-radius: 5px;
  padding: 2%;
  margin: 15px 5% 0 5%;
  text-align: left;
  background-color: white;
}

#form_input{
  width: 250px;
}

#bttn{
  background-image: linear-gradient(#4b9aa7, #3c7d83);
  color: white;
  padding: 0 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 130px;
  font-weight: 600;
}

#bttn:hover{
    background-image: linear-gradient(#3c7d83, #4b9aa7);
    border: 1px solid #4b9aa7;
}

.space{
  height: 30px;
}

.container-fluid .scrollable{
  height: 190px;
  overflow-y: scroll;
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: lightblue;
}

::placeholder{
  font-size: 12px;
}
